body { overflow: hidden; width:100%; height:100%; }
* { margin:0; padding:0; }


#glBody
{
	z-index: 0;
	position:absolute;
	top:0;left:0;
}

#notglBody
{
	z-index: 1;
	position:absolute;
	display: block;
}

#desc
{
	position:absolute;
	display:block;
	font-family: monospace;
	font-size: 18px;

	overflow: auto;
}

#social
{
	white-space: nowrap;
}

a,
a:hover,
a:link,
a:visited,
a:active
{
	color:black;
	text-decoration: none;
}