# We ignore everything here because it's licensed, EXCEPT:
# - files containing "TheMod"
# - folders containing "TheMod" and everything underneath

*
!.gitattributes
!.gitignore
!.gitkeep

# allow searching into subfolders. this is required to make git continue looking into subdirs. seems hacky.
!*/


!**/*TheMod*/*
!**/*TheMod*
