# We ignore everything here because it's licensed, EXCEPT:
# - files containing "TheMod"
# - folders containing "TheMod" and everything underneath

*

# allow searching into subfolders. this is required to make git continue looking into subdirs. seems hacky.
!*/

!.gitattributes
!.gitignore
!.gitkeep

!**/*TheMod*
!**/*TheMod*/*
!**/*TheMod*/**/*

!**/*SlashKICK*
!**/*SlashKICK*/*
!**/*SlashKICK*/**/*

!**/*LotYB*
!**/*LotYB*/*
!**/*LotYB*/**/*
